body {
	background-color: #c0c00c;
	margin: 0px; padding: 0px;
	font-family: 'VT323', cursive;
	font-size: 18px;
}

a {
	color: #000;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.span12 {
	border: 1px dotted #000;
}

.span10 {
	margin-top: 0px;
	min-height: 500px;
	border: 0px solid #000;

	font-family: sans-serif;
	font-size: 14px;
}

#top {
	padding: 10px;
	height: 110px;

	font-size: 40px;
	text-shadow: 2px 2px #c0c0c0;
}

#links {
	text-align: center;
	margin-bottom: 50px;
	font-size: 30px;
}

#links .span2 {
}

/*.span6,.span1,.span10,.span2,.span4,.span3,.span5,.span7 {
	border: 0px solid #000;
}*/

.footer {
	position: fixed;
	bottom: 0;
	height: 30px;
	text-align: center;
	width:  100%;

	border-top: 1px solid #000;
}

.active {
	text-shadow: 2px 2px #fff;
}